html{
    padding:0;
    margin:0;
    background-color:#f8ecc9;
}
button{
    border:none;
    margin:0 30px 0 30px;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
}

@font-face {
    font-family: 'GeorgiaPro-Light';
    src: url('font/GeorgiaPro-CondLight.woff') format('woff'),
         url('font/GeorgiaPro-CondLight.ttf') format('truetype');
}

@font-face {
    font-family: 'GeorgiaPro-Regular';
    src: url('font/GeorgiaPro-CondRegular.woff') format('woff'),
         url('font/GeorgiaPro-CondRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'GeorgiaPro-Semibold';
    src: url('font/GeorgiaPro-CondSemiBold.woff') format('woff'),
         url('font/GeorgiaPro-CondSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'GeorgiaPro-Bold';
    src: url('font/GeorgiaPro-CondBold.woff') format('woff'),
         url('font/GeorgiaPro-CondBold.ttf') format('truetype');
}

#wrapper{
    text-align:center;
    /*width:500px;
    height:700px;
    margin:0 auto;
    padding:20px*/
}

h1{
    font-family: 'Adobe Caslon Pro', serif;
    font-size: 2em;
    font-weight: 200;
    padding: 20px 0 0 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~HOME~~~~~~~~~~~~~~~~~~~~~~~~*/

#scr-home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}

.shape1 {
    width: 100%;
    height: 437px;
    background: #4f9374;
    clip-path: polygon(50% 40%, 100% 25%, 100% 0, 0 0, 0 25%);
    -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
}

.logo {
    width: 260px;
    height: auto;
    display: block;
    margin: auto;
    padding: 55px 0 10px 0;
}

#scr-home h1 {
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

#scr-home > h1 {
    color: #000000;
    font-size: 1.8em;
    padding: 40px 0 0 0;
}

#innerText {
    display: block;
}

#src-home{
    position:absolute;
}

#add1{
    margin: 15px 12px 0 12px;
    color: #fff;
    font-size: 2.2em;
    font-family: 'GeorgiaPro-Light';
    background-color: #ef693a;
    border: 4px color:black;
    width: 220px;
    height: 130px;
    border-bottom: 4px solid #c84627;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
#add2{
    margin: 15px 12px 0 12px;
    color:#fff;
    font-size:2.2em;
    font-family: 'GeorgiaPro-Light';
    background-color:#ef693a;
    border: 4px color:black;
    width: 220px;
    height: 130px;
    border-bottom: 4px solid #c84627;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
#add3{
    margin: 15px 10px 0 10px;
    color:#fff;
    font-size:2.2em;
    font-family: 'GeorgiaPro-Light';
    background-color:#ef693a;
    border-radius: 6px;
    border: 4px color:black;
    width: 220px;
    height: 130px;
    border-bottom: 4px solid #c84627;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

/*~~~~~~~~~~~~~~~~~~~~~~END HOME~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~INTRO~~~~~~~~~~~~~~~~~~~~~~~~*/

#scr-intro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility:hidden;
}

.shape2 {
    height: 200px;
    width: 100%;
    background-color: #4f9374;
}

.shape2 > img {
    height: 120px;
    width: auto;
    display: inline;
    position: inherit;
    padding: 38px 0 0 0;
    margin: 0 0 0 -175px;

}

.shape2 > button {
    display: inline;
    width: 140px;
    height: 60px;
    float: left;
    margin: 65px 0 65px 30px;
    color: #fff;
    font-size: 1.8em;
    font-family: 'GeorgiaPro-Light';
    background-color: #ef693a;
    border-bottom: 4px solid #c84627;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

#scr-intro h3 {
    color: #000;
    font-size: 1.5em;
    font-family: 'GeorgiaPro-Light';
    padding-top: 85px;
}

#scr-intro h3 span {
    font-family: 'GeorgiaPro-Regular';
}

.player-color {
    width: 150px;
    height: 100px;
    background-color: #d9cfb0;
    border-radius: 6px;
    display: inline-block;
}

#scr-intro > button {
    display: block;
}

#terugbut{
    background-color:#cccccc;
    border-bottom: 3px solid #a2a3a2;
    color:#535353;
    font-weight: bolder;
}
.trap-payer-num{
    margin-top:15px;
    width:30px;
    float:left;
    text-align:center;
}

.font-players{
    font-size:4em;
    font-family: 'GeorgiaPro-Semibold';
}
.color-g{
    width: 80px;
    height: 70px;
    background-color:#004899;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
.color-r{
    width: 80px;
    height: 70px;
    background-color:#d10000;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
.color-b{
    width: 80px;
    height: 70px;
    background-color:#3aaa35;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
.color-y{
    width: 80px;
    height: 70px;
    background-color:#e6ac27;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
#startKnop{
    background-color: #ef693a;
    border-bottom: 4px solid #c84627;
    margin:20px auto 0 auto;
    border-radius:4px;
    height:80px;
    width:460px;
    color:#fff;
    font-family: 'GeorgiaPro-Regular';
    font-size:2.2em;
}
/*~~~~~~~~~~~~~~~~~~~~~~END INTRO~~~~~~~~~~~~~~~~~~~~~~*/
#src-spel-left{
    position: absolute;
    background-color: #4f9374;
    width:25%;
    height:100%;
}
#src-spel-right{
    width:75%;
    text-align:center;
    float:right
}

#speldiv {
    visibility: hidden;

}

#changeNameDiv{
    background-color:#fff;
    position:absolute;
/*    width:400px;
    height:400px;*/
    visibility: hidden;
    border: 1px solid;
    padding:4px;
}
#selectdiv{
    position:absolute;
    background-color:#fff;
    width:400px;
    height:400px;
    border: 1px solid;
    padding:4px;
}

input{
    margin:10px 0 10px 0;
}
/*=========================================== SPELER PIJLEN ===============================================*/
#spelpijl1{
    position:absolute;
    margin-top:130px;
}
#spelpijl2{
    position:absolute;
    margin-top:320px;
    visibility: hidden;
}
#spelpijl3{
    position:absolute;
    margin-top:510px;
    visibility:hidden;
}
#spelpijl4{
    position:absolute;
    margin-top:620px;
    visibility:hidden;
}

#rolloutcomediv{
    min-height:100px;
    padding:20px;
    font-size:40px;
    font-family:GeorgiaPro-Regular;
}
#nogeenkeer{
    visibility:hidden;
}


/* Het positioneren van de speler en daarnaast zijn positie*/

/* player 1*/
#p1div{
    background-color:#f8ecc9;
    width: 300px;
    height:175px;
    border-radius:4px;
    margin:10px auto 10px auto;
}
#p1position{
    display: inline;
    font-size: 70px;
    font-family: 'GeorgiaPro-Semibold';
}
#p2position{
    display: inline;
    font-size: 70px;
    font-family: 'GeorgiaPro-Semibold';
}
#p3position{
    display: inline;
    font-size: 70px;
    font-family: 'GeorgiaPro-Semibold';
}
#p4position{
    display: inline;
    font-size: 70px;
    font-family: 'GeorgiaPro-Semibold';
}
/* player 2*/
#p2div{
    background-color:#f8ecc9;
    width: 300px;
    height:175px;
    border-radius:4px;
    margin:10px auto 10px auto;
}
#p2position{
    display: inline;
}
/* player 3*/
#p3div{
    background-color:#f8ecc9;
    width: 300px;
    height:175px;
    border-radius:4px;
    margin:10px auto 10px auto;
}
#p3position{
    display: inline;
}
/* player 4*/
#p4div{
    background-color:#f8ecc9;
    width: 300px;
    height:175px;
    border-radius:4px;
    margin:10px auto 10px auto;
}
#p4position{
    display: inline;
}
/* De shapes van de trapezoids & spelers tijdens het spelen zelf */
.playerIdHighlight{
    font-size:30px;
    font-family: 'GeorgiaPro-Semibold';
    padding-top:20px;
}

#help{
    margin:10px;
    background-color:#cccccc;
    border-bottom: 3px solid #a2a3a2;
    color:#535353;
    font-size:1.0em;
    font-weight: bolder;
    width:120px;
    height:40px;
    font-family:'GeorgiaPro-Regular';
    border-radius:4px;
}
#stopspel{
    margin:10px;
    background-color:#cccccc;
    border-bottom: 3px solid #a2a3a2;
    color:#535353;
    font-size:1.0em;
    font-weight: bolder;
    width:120px;
    height:40px;
    font-family:'GeorgiaPro-Regular';
    border-radius:4px;
}

#shapeP1{
    width: 45%;
    height: 85%;
    background-color:#004899;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}

#shapeP2{
    width: 45%;
    height: 85%;
    background-color:#d10000;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
#shapeP3{
    width: 45%;
    height: 85%;
    background-color:#3AAA35;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}
#shapeP4{
    width: 45%;
    height: 85%;
    background-color:#E6AC27;
    -webkit-clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0%, 55% 100%, 0 100%);
    border-radius:3px;
    float:left;
    margin: 15px 0 0 15px;
}


/*Dit is de button voor de dobbelstenen*/
#click{
    background-color: #ef693a;
    border-bottom: 4px solid #c84627;
    margin:20px auto 0 auto;
    border-radius:4px;
    height:60px;
    width:400px;
    color:#fff;
    font-family: 'GeorgiaPro-Regular';
    font-size:1.8em;
}



/*====================================*/
/*===============TASK 1===============*/
#scr-task-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    display: none;
}

#scr-task-1 section {
    position: inherit;
    border: 3px solid black;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 500px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #4f9374;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4f9374;
}

/*Interact.js*/
#outer-dropzone {
    height: 140px;
}

/*#inner-dropzone {

}*/

.dropzone {
    background-color: #ef693a;
    /*border: dashed 4px #666;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;*/
    width: 50%;
    height: 100%;
    float: right;
    transition: background-color 0.3s;
}

.drop-target {
    background-color: #29e;
}

.drag-drop {
    display: inline-block;
    box-sizing: border-box; 
    /*min-width: 40px;*/
    /*padding: 2em 0.5em;*/
    /*background-color: #99e;*/
    border: solid 2px white;
    transition: background-color 0.3s;
}

.can-drop {
    background-color: #4e4;
}

.drag-drop {
    display: block;
    position: absolute;
}

    .drag-drop:nth-of-type(1) {
        top: 40px;
        left: 215px;
    }
    .drag-drop:nth-of-type(2) {
        top: 190px;
        left: 140px;
    }
    .drag-drop:nth-of-type(3) {
        top: 340px;
        left: 90px;
    }
    .drag-drop:nth-of-type(4) {
        top: 80px;
        left: 50px;
    }
    .drag-drop:nth-of-type(5) {
        top: 300px;
        left: 240px;
    }

.shape-outline {
    background-color: #FFFFFF;
    border: 5px solid #4f9374;  
}
/*=============END TASK 1=============*/
/*====================================*/